# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.ocxcwlnogpzvbyynekle:PASSWORD@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.ocxcwlnogpzvbyynekle:PASSWORD@aws-1-eu-west-1.pooler.supabase.com:5432/postgres"

NEXT_PUBLIC_SUPABASE_URL=https://ocxcwlnogpzvbyynekle.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_6WfIp8733nVFKFRY4b6Z6Q_15dpeEPb